BUDIBASE_DOMAIN=example.com

# This section contains all secrets pertaining to the system
# These must be updated
JWT_SECRET=
MINIO_ACCESS_KEY=budibase
MINIO_SECRET_KEY=
COUCH_DB_USER=budibase
COUCH_DB_PASSWORD=
REDIS_PASSWORD=
INTERNAL_API_KEY=

# This section contains variables that do not need to be altered under normal circumstances
APP_PORT=4002
WORKER_PORT=4003
MINIO_PORT=4004
COUCH_DB_PORT=4005
REDIS_PORT=6379
WATCHTOWER_PORT=6161
BUDIBASE_ENVIRONMENT=PRODUCTION